<head>
    <title>Demo proxy</title>
    <meta charset="utf-8">
</head>    

<script type=text/javascript src="{{
  url_for('static', filename='jquery.js') }}"></script>
  
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script type=text/javascript>
    // --- UG-player:
    setInterval(function(){ $.getJSON($SCRIPT_ROOT + '/playerstatus', {}, function(data) {
        if (data.isconnected == true){$("#player").text("UG-player is connected ");}
        else{$("#player").text("UG-player not connected ");}
        
        if (data.islive_1 == true){$("#playerlive_1").text("Live streaming #1 on");}
        else{$("#playerlive_1").text("Live streaming #1 off");}
        
        if (data.islive_2 == true){$("#playerlive_2").text("Live streaming #2 on");}
        else {$("#playerlive_2").text("Live streaming #2 off");}
        
        if (data.islive_3 == true){$("#playerlive_3").text("Live streaming #3 on");}
        else {$("#playerlive_3").text("Live streaming #3 off");}
        
        if (data.islive_4 == true){$("#playerlive_4").text("Live streaming #4 on");}
        else {$("#playerlive_4").text("Live streaming #4 off");}
        
    });},1000);
    
    setInterval (function(){ $.getJSON($SCRIPT_ROOT + '/playerparams/media',{}, function(data){
        $("#stream1").text("Stream 1 params: FPS=" + data.fps1 + " | loss="+data.loss1+ " %");
        $("#stream2").text("Stream 2 params: FPS=" + data.fps2 + " | loss="+data.loss2+ " %");
        $("#stream3").text("Stream 3 params: FPS=" + data.fps3 + " | loss="+data.loss3+ " %");
        $("#stream4").text("Stream 4 params: FPS=" + data.fps4 + " | loss="+data.loss4+ " %");
        });
    },1000); 

    setInterval (function(){ $.getJSON($SCRIPT_ROOT + '/playerparams/network',{}, function(data){
        $("#network").text("Network params: band="+data.band +" Mbps | RTT="+data.rtt+' ms');
    });},1000);      
    
    // --- Ryu OF CTRL:
    setInterval (function(){ $.getJSON($SCRIPT_ROOT + '/getlistofsw',{}, function(data){
        $("#OF_SW").text("List of connected OF switches: "+ data.connected_OF_SW);
    });},1000);  
    
    setInterval (function(){ $.getJSON($SCRIPT_ROOT + '/getflows',{}, function(data){
         $("#OF").text(JSON.stringify(data, null, '\t'));
    });},1000);

    //RL:
    setInterval (function(){ $.getJSON($SCRIPT_ROOT + '/getrlstatus',{}, function(data){
        if (data.result == true)
        {
            $("#getrlstatus").text("RL  is connected ");
        }
        else
        {
            $("#getrlstatus").text("RL  not connected ");
        }
    });},1000);  
    
    setInterval (function(){ $.getJSON($SCRIPT_ROOT + '/getconfigurationofratelimiter',{}, function(data){
        $("#RL").text(JSON.stringify(data, null, '\t'));
    });},1000);  

    // --- Ryu:
    setInterval (function(){ $.getJSON($SCRIPT_ROOT + '/getryustatus',{}, function(data){
        if (data.result == true)
        {
            $("#getryustatus").text("Ryu controller is connected ");
        }
        else
        {
            $("#getryustatus").text("Ryu controller not connected ");
        }
    });},1000); 
    
    // --- UG - streamer:
    setInterval (function(){ $.getJSON($SCRIPT_ROOT + '/streamerstatus',{}, function(data){
        $("#streamerstatus").text("Streamer status: 1-"+data.result[0]+" | 2-"+data.result[1]+" | 3-"+data.result[2]+" | 4-"+data.result[3]);
    });},1000);      

         
</script>

<script>
    $(document).ready(function(){
        // OF_CTRL:
        $("#startryucontroller").click( function(){$.get("startryucontroller", function(){
                console.log("Ryu Controller started" );});
        }); 
                 
        //UG-player: 
        $("#startplayers").click( function(){
            $.get("startplayers", function(){console.log("Players started" );});
        });
        $("#stopplayers").click( function(){
            $.get("stopplayers", function(){console.log("Players stopped" );});
        });
        
        //UG-streamer:
        $("#startstreamer1").click( function(){
            $.get("startstreamer/0", function(){console.log("Stream 1 started" );});
        });
        $("#startstreamer2").click( function(){
            $.get("startstreamer/1", function(){console.log("Stream 2 started" );});
        }); 
        $("#startstreamer3").click( function(){
            $.get("startstreamer/2", function(){console.log("Stream 3 started" );});
        }); 
        $("#startstreamer4").click( function(){
            $.get("startstreamer/3", function(){console.log("Stream 4 started" );});
        });       
        $("#stopstreamer1").click( function(){
            $.get("stopstreamer/0", function(){console.log("Stream 1 stopped" );});
        });
        $("#stopstreamer2").click( function(){
            $.get("stopstreamer/1", function(){console.log("Stream 2 stopped" );});
        });  
        $("#stopstreamer3").click( function(){
            $.get("stopstreamer/2", function(){console.log("Stream 3 stopped" );});
        });  
        $("#stopstreamer4").click( function(){
            $.get("stopstreamer/3", function(){console.log("Stream 4 stopped" );});
        });    
            
        //RL:
        $("#deleterlsession").click( function(){
            $.get("deleterlsession", function(){console.log("RL session removing" );});
        });         
        
    });
</script>

<script>
function setPath(id)
{
    $.get("setpath/".concat(id), function(){});
}
function delPath(id)
{
    $.get("delpath/".concat(id), function(){});     
}
function setBand(band)
{
    $.get("setband/".concat(band), function(){});     
}
</script>



<h1>FELIX - Demo proxy</h1>

<body>
<hr>
<h3> UltraGrid - Player </h3>
<button id="startplayers">Start players</button>
<button id="stopplayers">Stop players</button><br>
  <p><span id=player></span><br>
  <p><span id=playerlive_1></span><br>
     <span id=playerlive_2></span><br>
     <span id=playerlive_3></span><br>
     <span id=playerlive_4></span><br>
  <p><span id=stream1></span><br>
     <span id=stream2></span><br>
     <span id=stream3></span><br>
     <span id=stream4></span><br>

<hr>
<h3> Network params @UG-player </h3> 
<p>  <span id=network></span><br>

<hr>
<h3> UltraGrid - Streamer </h3>
<button id="startstreamer1">Start streamer 1</button>
<button id="stopstreamer1">Stop streamer 1</button><br>
<button id="startstreamer2">Start streamer 2</button>
<button id="stopstreamer2">Stop streamer 2</button><br>
<button id="startstreamer3">Start streamer 3</button>
<button id="stopstreamer3">Stop streamer 3</button><br>
<button id="startstreamer4">Start streamer 4</button>
<button id="stopstreamer4">Stop streamer 4</button><br>
    <p>  <span id=streamerstatus></span><br>
    
<hr>
<h3> Ryu - OpenFlow Controller </h3>
<button id="startryucontroller">Start Ryu Controller</button><br>
<p><span id="getryustatus"></span><br>
   <span id="OF_SW"></span><br>
   <pre><code id=OF></code></pre>

   <button id="1" onClick="setPath(this.id)">Set path 1</button>
   <button id="2" onClick="setPath(this.id)">Set path 2</button>
   <button id="3" onClick="setPath(this.id)">Set path 3</button>
   <button id="4" onClick="setPath(this.id)">Set path 4</button><br>
   <button id="1" onClick="delPath(this.id)">Delete path 1</button>
   <button id="2" onClick="delPath(this.id)">Delete path 2</button>
   <button id="3" onClick="delPath(this.id)">Delete path 3</button>
   <button id="4" onClick="delPath(this.id)">Delete path 4</button><br>

<hr>
<h3> Rate Limiter @AIST </h3>
<p><span id="getrlstatus"></span><br>
Set bandwidth [Mbps]: 
<button id="200" onClick="setBand(this.id)">200Mbps</button>
<button id="400" onClick="setBand(this.id)">400Mbps</button>
<button id="600" onClick="setBand(this.id)">600Mbps</button>
<button id="800" onClick="setBand(this.id)">800Mbps</button><br>
<button id="deleterlsession">Delete RL session</button><br><br>
Current configuration:
<pre><code id=RL></code></pre>


</body>